html{
  background-color: black ;
  color: whitesmoke;
}

body {
    background-color: black;
    margin: 0;
    width: auto;
    font-family: sans-serif;
    
}

header{
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    


}
.LOGOS{
    height: 50%;
    display: flex;
    align-items: center;
}

#Logo{
    height: 100px;
    padding: 5px;
    display: flex;
    margin-right: 10px;
}

#LogoEncabezado{
    height: 70px;
    justify-content: center;
    align-items: center;
    
}
.ListaUL{
    display:flex;
    margin-right: 150px;
    
}

.ListaUL li{
    padding: 5%;
    text-decoration: none;
    list-style-type: none;
    color: white;
}

.ListaUL a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.ListaUL a:hover{
    text-shadow:0 0 5px rgb(255, 255, 255),
                0 0 10px rgba(0, 179, 255, 0.552);
    font-weight: 600;
}

@media (max-width: 800px){
    header{
        flex-direction: column;
    }
}

aside {
    background: radial-gradient( rgba(36, 0, 21, 0.452), black) ;
    color: white;
    float: right;
    display: block;
    justify-content: center;
    width: 300px;
    height: 2000px;
    padding: 5px;
    text-align: center;
    font-size: 1rem;
    border-left: 2px solid rgba(60, 60, 60, 0.449);
    border-bottom:5px solid rgba(37, 37, 37, 0.449); 
    border-radius: 10px;
}
@media (max-width: 800px){
    aside{
        display: none;
    }
    section{
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
        
        
    }
    article{
        width: 100%;
        height: 60%;
    }
}

section{
    margin-right: 250px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.Fotos{
    max-width: 98%;
    justify-content: center;
    border: 5px solid rgb(214, 214, 214);
    border-radius: 3px;

}
article {
    text-decoration: none;
    background-color: rgb(36, 0, 21);
    color: white;
    width: 400px;
    max-height: 60%;
    padding: 15px;
    margin: 10px;
}

article h2{
    font-size: 200%;
    font-weight: bold;
    text-decoration: none;
}

article p{
    font-family:Verdana, Tahoma, sans-serif;
    
}
article a{
    text-decoration: none;
}
article a:visited{
    text-decoration: none;
    color: inherit;
}
